<p style="color: green"><%= notice %></p>



<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Teste Julio</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
	<header>
		<div id="logo">Blog de Info</div>
		<nav>  
			<ul>
				<li><a href="/">Home</a>
				
				
			</ul>
		</nav>
	</header>
	<section>
		<strong></strong>
	</section>
	<section id="pageContent">
		<main role="main">
			
          
        <%= render @post %>

<div>
  <%= link_to "Editar", edit_post_path(@post) %> |
  <%= link_to "Voltar", root_path %>

  
</div>
				
		
		</main>
		
	</section>
	<footer>
		<nav>
        <ul>
        
        </ul>
		<address>
		</address>
        </nav>
	</footer>


</body>

</html>







